@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

body {
  background-color: #000000;
  color: #ff0000;
}

div,
nav,
details,
summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-family: "Noto Sans JP", sans-serif;
}

.box {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  color: #ff0000;
  background: #000000;
  border: solid 3px #ff0000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box p {
  margin: 0;
  padding: 0;
}
