body {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.choco {
  position: absolute;
  animation: fall linear;
}

@keyframes fall {
  from {
    top: -50px;
  }

  to {
    top: 98vh;
  }
}
